*.lock
*.pdb
*.cashe
bin/*
source/.vs/*
.vs/OverWeightControl/v15/.suo
source/Common/obj/*
source/Common.BelModel/obj/*
source/Common.Tests/obj/*
source/Core/obj/*
source/ConsoleService/obj/*
source/SettingsService/obj/*
source/FileTransferManager.Client/obj/*
source/FileTransferManager.Server/obj/*
source/OverWeightControl/obj/*
source/ClienActsUI/obj/*
source/ParrentUI/obj/*
