*.lock
*.pdb
*.cashe
*.log
bin/*.xml
bin/*.txt
bin/*.cfg
bin/*.pdb
bin/*.config
bin/*.Test.exe
bin/*.Tests.exe
bin/xunit.*.dll
bin/Updates/*
bin/Store/*
source/.vs/*
.vs/OverWeightControl/v15/.suo
source/Common/obj/*
source/Common.BelModel/obj/*
source/Common.Tests/obj/*
source/Core/obj/*
source/ConsoleService/obj/*
source/SettingsService/obj/*
source/FileTransferManager.Client/obj/*
source/FileTransferManager.Server/obj/*
source/OverWeightControl/obj/*
source/OverWeightControl.Runer/obj/*
source/ClienActsUI/obj/*
source/ParrentUI/obj/*
source/Core.RemoteInteraction/obj/*
source/Core.RemoteInteraction.Tests/obj/*
*.json
